@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fdf5ef;
  --secondary-color: #dddacf;
  --primary-text: #333333;
  --secondary-text: #666666;

  --dark-primary-color: #1e1e1e;
  --dark-secondary-color: #34332f;
  --dark-primary-text: #ffffff;
  --dark-secondary-text: #cccccc;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Set the height to 100% of the viewport height */
  overflow: hidden; /* Optional: Prevent scrollbars in case the content overflows */
}

::-webkit-scrollbar {
  width: 6px; /* Adjust the width of the scrollbar as needed */
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color); /* Set your desired color */
  border-radius: 3px; /* Adjust the border-radius for rounded corners */
}

.dark ::-webkit-scrollbar-thumb {
  background-color: var(--dark-secondary-color);
}

::-webkit-scrollbar-track {
  display: none; /* Hide the track completely */
}
